<div class="container">
    <div class="d-flex justify-content-center">
        <h3>Minessweeper</h3>
    </div>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% @boards.each do |board| %>
            <tr>
                <td><%= link_to board.name, board_path(board) %></td>
                <td><%= board.email %></td>
                <td><%= board.created_at %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to "All Boards", boards_path %>
</div>